In [32]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/pyspark-sample/test1.csv

In [33]:
!pip install pyspark

Requirement already satisfied: pyspark in /opt/conda/lib/python3.7/site-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/lib/python3.7/site-packages (from pyspark) (0.10.9.7)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [34]:
import pyspark

In [35]:
import pandas as pd
print(type(pd.read_csv('/kaggle/input/pyspark-sample/test1.csv')))

<class 'pandas.core.frame.DataFrame'>

## create spark session

In [36]:
from pyspark.sql import SparkSession

In [37]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [38]:
spark

In [39]:
df_pyspark = spark.read.csv("/kaggle/input/pyspark-sample/test1.csv")

In [40]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [41]:
df_pyspark.show(3)

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+
only showing top 3 rows

In [42]:
df_pyspark=spark.read.option('header','true').csv("/kaggle/input/pyspark-sample/test1.csv")

In [43]:
df_pyspark.show(3)

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
+---------+---+----------+------+
only showing top 3 rows

In [44]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [45]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [46]:
df_pyspark.head(2)

[Row(Name='Krish', age='31', Experience='10', Salary='30000'),
 Row(Name='Sudhanshu', age='30', Experience='8', Salary='25000')]

In [47]:
df_pyspark.select(['Name','Salary']).show()

+---------+------+
|     Name|Salary|
+---------+------+
|    Krish| 30000|
|Sudhanshu| 25000|
|    Sunny| 20000|
|     Paul| 20000|
|   Harsha| 15000|
|  Shubham| 18000|
+---------+------+

In [48]:
df_pyspark.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [49]:
df_pyspark['Name']

Column<'Name'>

In [50]:
df_pyspark.dtypes

[('Name', 'string'),
 ('age', 'string'),
 ('Experience', 'string'),
 ('Salary', 'string')]

In [51]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|                8|             30000|
+-------+------+------------------+-----------------+------------------+

## Adding columns in dataframe

In [52]:
df_pyspark = df_pyspark.withColumn('Age_after_2Years',df_pyspark['age']+2)

In [53]:
df_pyspark.show(3)

+---------+---+----------+------+----------------+
|     Name|age|Experience|Salary|Age_after_2Years|
+---------+---+----------+------+----------------+
|    Krish| 31|        10| 30000|            33.0|
|Sudhanshu| 30|         8| 25000|            32.0|
|    Sunny| 29|         4| 20000|            31.0|
+---------+---+----------+------+----------------+
only showing top 3 rows

In [54]:
df_pyspark = df_pyspark.drop('Age_after_2Years')

In [56]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+---------+---+----------+------+
| New Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [57]:
df_pyspark.withColumnRenamed('New Name','Name').show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+